html, body {
            height: 100%;
            width:100%;
            margin: 0;
            display: flex;
}
.box{
    width: 10px;
    height: 10px;
    position: absolute;
    margin:5px;
    display:inline-block;
}

