html, body {
            height: 100%;
            width:100%;
            margin: 0;
            display: flex;
            background-color: #bde0fe;
}
#score
  {
    position: absolute;
    top: 20px;
    right:20px;
    text-align: right;
    font-size: 10vh;
    transition: transform 0.5s ease;
    color: $color-dark;
    z-index: 999;
    user-select: none;
  }
.box{
    position: absolute;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

