html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100px;
    height: 100px;
    position: relative;
    margin:5px;
    display:inline-block;
}

.red{
    background-color:#ef476f
}
.blue{
    background-color:#118ab2
}
.green{
    background-color:#06d6a0
}
.yellow{
    background-color: #ffd166;
}
